body {
    margin: 0;
    /* background-image: url('../images/background-image.jpg');
    background-size: 100%;
    background-attachment: fixed; */
}

.top-news-button {
    width: 100px;
}

#categories-field {
    background-color: rgb(50, 50, 50);
    width: 100%;
    display: block;
    overflow: hidden;
    position: fixed;
    top:0;
    padding-left: 100px;
}

#categoryName {
    font-size: 16px;
    color: white;
    float: left;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
}

#categoryName:hover {
    background-color: rgb(103, 103, 103);
    color: rgb(0, 255, 187);  
    cursor: pointer;
}

#news-field, img {
    width: 800px;
    margin: 20px auto;
}

#news-field {

}

h3 {
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

p {
    color: white
}
#empty-space {
    height: 50px;
}

