body {
    margin: 0;
    
    background-size: cover;
}

.top-news-button {
    width: 100px;
}

#categories-field {
    background-color: rgb(50, 50, 50);
    width: 100%;
    display: block;
    overflow: hidden;
    position: fixed;
    top:0;
}

.top-news-button {
    position: fixed;
    right: 100px;
    padding: 10px;
    top:0;
    border-radius: 10px;
    margin-top: 7px;
    font-size: 12px;
}

.top-news-button:hover {
    background: transparent;
    color: white;
}

#categoryName {
    font-size: 16px;
    color: white;
    float: left;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
}

#categoryName:hover {
    background-color: rgb(103, 103, 103);
    color: rgb(0, 255, 187);  
    cursor: pointer; 
}

#news-field, img {
    width: 600px;
    margin: 20px auto;
}

#news-field {

}

h3 {
    font-size: 36px;
}

#empty-space {
    height: 50px;
}